:root {

    --color-window-dark: #242424;
    --color-window-yellow: #dfc532;
    --color-window-white: #ffffff;
    --color-background-dark: #000000;
    --color-building: #32264d;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background-color: var(--color-background-dark);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
     #root {
        font-size: 62.5%;
     }
}