.window-container {
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
}

.buttons-window {
    width: 5rem;
    height: 5rem;
    background-color: var(--color-window-white);
    cursor: pointer;
    border: 6px solid var( --color-window-dark);
}